<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeadlessBrowser" value="false" />
    <add key="BackendUrl" value="https://dev.cdrs-cat.com/" />
    <add key="ApiBaseUrl" value="https://api.dev.cdrs-cat.com/api" />
    <add key="ClientId" value="backend" />
    <add key="ClientSecret" value="@Q#qh8Sf*@928LY@wnb?k&amp;*8wJvKAqq!JwY^DEMf+zZbQPv5EHHDBT5YQUfKVc&amp;4" />
    <add key="BackendUsername" value="paolo.benci@alias2k.com" />
    <add key="BackendPassword" value="Asdafasda87@" />
    <add key="NumberOfDaysInThePast" value="-5" />
  </appSettings>
</configuration>