<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModifyContract" value="" />
    <add key="HeadlessBrowser" value="" />
    <add key="BackendUrl" value="" />
    <add key="ApiBaseUrl" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="BackendUsername" value="" />
    <add key="BackendPassword" value="" />
    <add key="NumberOfDaysInThePast" value="" />
  </appSettings>
</configuration>